body
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 100%;
}

table
{
	border-collapse: collapse;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 100%;
}

button
{
	border: none;
	border-radius: 0px;
}

.add-button, .remove-button
{
	width: 25px;
	color: white;
	font-size: 100%;
}

.add-button
{
	background-color: green;
}

.remove-button
{
	background-color: red;
}

.submit-button, .get-button
{
	background-color: black;
	font-size: 100%;
	color: white;
	margin-top: 10px;
}

tr
{
	border: 2px solid black;
}

td, th
{
	padding: 5px;
}

input
{
	font-size: 100%;
	text-align: center;
}
